@model Vault.Framework.Api.Boards.ArticleCard

<h3 class="card-title u-truncate">
    @Model.Name
</h3>
@if (!string.IsNullOrEmpty(Model.Thumbnail))
{
    <div class="card-image">
        <img src="@Model.Thumbnail">
    </div>
}
<div class="card-summary">
    @Html.Raw(Model.Summary)
</div>