@model Vault.Framework.Api.Boards.EventCard

<h3 class="card-title">
   @*<svg class="icon icon-star" style="width: 0.65em;"><use xlink:href="#icon-alarm"></use></svg>*@ @Model.Name
</h3>
<div class="card-summary">
    @Model.Description<br />
    @Model.StartDate.ToString("MMM dd, yyyy")
</div>