<div class="alert alert-warning alert-dismissible" role="alert" data-bind="visible: false">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <a href="javascript:void(0)" class="alert-link">Restore</a> deleted comment
</div>
<div class="container">
    <div class="container-fluid commentable-container" id="commentable-area">
        <h1 class="title center-text">
        <span data-bind="text: article.title"></span>
      </h1>
        <!-- ko foreach: { data: article.sections, afterRender: initComments } -->
        <p data-bind='text: content, attr: { "data-section-id": id}' class="commentable-section"></p>
        <!-- /ko -->
    </div>
</div>
<!-- /.container -->
