<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <symbol id="icon-star" viewBox="0 0 30 32">
            <title>star</title>
            <path d="M29.714 11.554q0 0.393-0.464 0.857l-6.482 6.321 1.536 8.929q0.018 0.125 0.018 0.357 0 0.375-0.188 0.634t-0.545 0.259q-0.339 0-0.714-0.214l-8.018-4.214-8.018 4.214q-0.393 0.214-0.714 0.214-0.375 0-0.563-0.259t-0.188-0.634q0-0.107 0.036-0.357l1.536-8.929-6.5-6.321q-0.446-0.482-0.446-0.857 0-0.661 1-0.821l8.964-1.304 4.018-8.125q0.339-0.732 0.875-0.732t0.875 0.732l4.018 8.125 8.964 1.304q1 0.161 1 0.821z"></path>
        </symbol>
        <symbol id="icon-star-o" viewBox="0 0 30 32">
            <title>star-o</title>
            <path d="M20.304 17.929l5.464-5.304-7.536-1.107-3.375-6.821-3.375 6.821-7.536 1.107 5.464 5.304-1.304 7.518 6.75-3.554 6.732 3.554zM29.714 11.554q0 0.393-0.464 0.857l-6.482 6.321 1.536 8.929q0.018 0.125 0.018 0.357 0 0.893-0.732 0.893-0.339 0-0.714-0.214l-8.018-4.214-8.018 4.214q-0.393 0.214-0.714 0.214-0.375 0-0.563-0.259t-0.188-0.634q0-0.107 0.036-0.357l1.536-8.929-6.5-6.321q-0.446-0.482-0.446-0.857 0-0.661 1-0.821l8.964-1.304 4.018-8.125q0.339-0.732 0.875-0.732t0.875 0.732l4.018 8.125 8.964 1.304q1 0.161 1 0.821z"></path>
        </symbol>
        <symbol id="icon-table" viewBox="0 0 30 32">
            <title>table</title>
            <path d="M13.714 18.286v6.857q0 0.929-0.679 1.607t-1.607 0.679h-9.143q-0.929 0-1.607-0.679t-0.679-1.607v-6.857q0-0.929 0.679-1.607t1.607-0.679h9.143q0.929 0 1.607 0.679t0.679 1.607zM13.714 4.571v6.857q0 0.929-0.679 1.607t-1.607 0.679h-9.143q-0.929 0-1.607-0.679t-0.679-1.607v-6.857q0-0.929 0.679-1.607t1.607-0.679h9.143q0.929 0 1.607 0.679t0.679 1.607zM29.714 18.286v6.857q0 0.929-0.679 1.607t-1.607 0.679h-9.143q-0.929 0-1.607-0.679t-0.679-1.607v-6.857q0-0.929 0.679-1.607t1.607-0.679h9.143q0.929 0 1.607 0.679t0.679 1.607zM29.714 4.571v6.857q0 0.929-0.679 1.607t-1.607 0.679h-9.143q-0.929 0-1.607-0.679t-0.679-1.607v-6.857q0-0.929 0.679-1.607t1.607-0.679h9.143q0.929 0 1.607 0.679t0.679 1.607z"></path>
        </symbol>
        <symbol id="icon-time" viewBox="0 0 32 32">
            <title>time</title>
            <path d="M16 9.714v8q0 0.25-0.161 0.411t-0.411 0.161h-5.714q-0.25 0-0.411-0.161t-0.161-0.411v-1.143q0-0.25 0.161-0.411t0.411-0.161h4v-6.286q0-0.25 0.161-0.411t0.411-0.161h1.143q0.25 0 0.411 0.161t0.161 0.411zM23.429 16q0-2.643-1.304-4.875t-3.536-3.536-4.875-1.304-4.875 1.304-3.536 3.536-1.304 4.875 1.304 4.875 3.536 3.536 4.875 1.304 4.875-1.304 3.536-3.536 1.304-4.875zM27.429 16q0 3.732-1.839 6.884t-4.991 4.991-6.884 1.839-6.884-1.839-4.991-4.991-1.839-6.884 1.839-6.884 4.991-4.991 6.884-1.839 6.884 1.839 4.991 4.991 1.839 6.884z"></path>
        </symbol>
        <symbol id="icon-picture" viewBox="0 0 34 32">
            <title>picture</title>
            <path d="M11.429 10.286q0 1.429-1 2.429t-2.429 1-2.429-1-1-2.429 1-2.429 2.429-1 2.429 1 1 2.429zM29.714 17.143v8h-25.143v-3.429l5.714-5.714 2.857 2.857 9.143-9.143zM31.429 4.571h-28.571q-0.232 0-0.402 0.17t-0.17 0.402v21.714q0 0.232 0.17 0.402t0.402 0.17h28.571q0.232 0 0.402-0.17t0.17-0.402v-21.714q0-0.232-0.17-0.402t-0.402-0.17zM34.286 5.143v21.714q0 1.179-0.839 2.018t-2.018 0.839h-28.571q-1.179 0-2.018-0.839t-0.839-2.018v-21.714q0-1.179 0.839-2.018t2.018-0.839h28.571q1.179 0 2.018 0.839t0.839 2.018z"></path>
        </symbol>
        <symbol id="icon-play" viewBox="0 0 25 32">
            <title>play</title>
            <path d="M24.714 16.554l-23.714 13.179q-0.411 0.232-0.705 0.054t-0.295-0.643v-26.286q0-0.464 0.295-0.643t0.705 0.054l23.714 13.179q0.411 0.232 0.411 0.554t-0.411 0.554z"></path>
        </symbol>
        <symbol id="icon-pause" viewBox="0 0 32 32">
            <title>pause</title>
            <path d="M27.429 3.429v25.143q0 0.464-0.339 0.804t-0.804 0.339h-9.143q-0.464 0-0.804-0.339t-0.339-0.804v-25.143q0-0.464 0.339-0.804t0.804-0.339h9.143q0.464 0 0.804 0.339t0.339 0.804zM11.429 3.429v25.143q0 0.464-0.339 0.804t-0.804 0.339h-9.143q-0.464 0-0.804-0.339t-0.339-0.804v-25.143q0-0.464 0.339-0.804t0.804-0.339h9.143q0.464 0 0.804 0.339t0.339 0.804z"></path>
        </symbol>
        <symbol id="icon-stop" viewBox="0 0 32 32">
            <title>stop</title>
            <path d="M27.429 3.429v25.143q0 0.464-0.339 0.804t-0.804 0.339h-25.143q-0.464 0-0.804-0.339t-0.339-0.804v-25.143q0-0.464 0.339-0.804t0.804-0.339h25.143q0.464 0 0.804 0.339t0.339 0.804z"></path>
        </symbol>
        <symbol id="icon-plus" viewBox="0 0 32 32">
            <title>plus</title>
            <path d="M21.714 17.143v-2.286q0-0.464-0.339-0.804t-0.804-0.339h-4.571v-4.571q0-0.464-0.339-0.804t-0.804-0.339h-2.286q-0.464 0-0.804 0.339t-0.339 0.804v4.571h-4.571q-0.464 0-0.804 0.339t-0.339 0.804v2.286q0 0.464 0.339 0.804t0.804 0.339h4.571v4.571q0 0.464 0.339 0.804t0.804 0.339h2.286q0.464 0 0.804-0.339t0.339-0.804v-4.571h4.571q0.464 0 0.804-0.339t0.339-0.804zM27.429 16q0 3.732-1.839 6.884t-4.991 4.991-6.884 1.839-6.884-1.839-4.991-4.991-1.839-6.884 1.839-6.884 4.991-4.991 6.884-1.839 6.884 1.839 4.991 4.991 1.839 6.884z"></path>
        </symbol>
        <symbol id="icon-pin" viewBox="0 0 21 32">
            <title>pin</title>
            <path d="M8.571 15.429v-8q0-0.25-0.161-0.411t-0.411-0.161-0.411 0.161-0.161 0.411v8q0 0.25 0.161 0.411t0.411 0.161 0.411-0.161 0.161-0.411zM20.571 21.714q0 0.464-0.339 0.804t-0.804 0.339h-7.661l-0.911 8.625q-0.036 0.214-0.188 0.366t-0.366 0.152h-0.018q-0.482 0-0.571-0.482l-1.357-8.661h-7.214q-0.464 0-0.804-0.339t-0.339-0.804q0-2.196 1.402-3.955t3.17-1.759v-9.143q-0.929 0-1.607-0.679t-0.679-1.607 0.679-1.607 1.607-0.679h11.429q0.929 0 1.607 0.679t0.679 1.607-0.679 1.607-1.607 0.679v9.143q1.768 0 3.17 1.759t1.402 3.955z"></path>
        </symbol>
        <symbol id="icon-fullscreen" viewBox="0 0 32 32">
            <title>fullscreen</title>
            <path d="M22.911 9.661l-6.339 6.339 6.339 6.339 2.571-2.571q0.518-0.554 1.25-0.25 0.696 0.304 0.696 1.054v8q0 0.464-0.339 0.804t-0.804 0.339h-8q-0.75 0-1.054-0.714-0.304-0.696 0.25-1.232l2.571-2.571-6.339-6.339-6.339 6.339 2.571 2.571q0.554 0.536 0.25 1.232-0.304 0.714-1.054 0.714h-8q-0.464 0-0.804-0.339t-0.339-0.804v-8q0-0.75 0.714-1.054 0.696-0.304 1.232 0.25l2.571 2.571 6.339-6.339-6.339-6.339-2.571 2.571q-0.339 0.339-0.804 0.339-0.214 0-0.429-0.089-0.714-0.304-0.714-1.054v-8q0-0.464 0.339-0.804t0.804-0.339h8q0.75 0 1.054 0.714 0.304 0.696-0.25 1.232l-2.571 2.571 6.339 6.339 6.339-6.339-2.571-2.571q-0.554-0.536-0.25-1.232 0.304-0.714 1.054-0.714h8q0.464 0 0.804 0.339t0.339 0.804v8q0 0.75-0.696 1.054-0.232 0.089-0.446 0.089-0.464 0-0.804-0.339z"></path>
        </symbol>
        <symbol id="icon-calendar" viewBox="0 0 30 32">
            <title>calendar</title>
            <path d="M2.286 29.714h25.143v-18.286h-25.143v18.286zM9.143 8v-5.143q0-0.25-0.161-0.411t-0.411-0.161h-1.143q-0.25 0-0.411 0.161t-0.161 0.411v5.143q0 0.25 0.161 0.411t0.411 0.161h1.143q0.25 0 0.411-0.161t0.161-0.411zM22.857 8v-5.143q0-0.25-0.161-0.411t-0.411-0.161h-1.143q-0.25 0-0.411 0.161t-0.161 0.411v5.143q0 0.25 0.161 0.411t0.411 0.161h1.143q0.25 0 0.411-0.161t0.161-0.411zM29.714 6.857v22.857q0 0.929-0.679 1.607t-1.607 0.679h-25.143q-0.929 0-1.607-0.679t-0.679-1.607v-22.857q0-0.929 0.679-1.607t1.607-0.679h2.286v-1.714q0-1.179 0.839-2.018t2.018-0.839h1.143q1.179 0 2.018 0.839t0.839 2.018v1.714h6.857v-1.714q0-1.179 0.839-2.018t2.018-0.839h1.143q1.179 0 2.018 0.839t0.839 2.018v1.714h2.286q0.929 0 1.607 0.679t0.679 1.607z"></path>
        </symbol>

        <symbol id="icon-settings" viewBox="0 0 24 24">
            <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65A.488.488 0 0 0 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z" />
        </symbol>
        <symbol id="icon-alphabetical_sorting_az" viewBox="0 0 1024 1024">
            <title>alphabetical_sorting_az</title>
            <path fill="#546e7a" d="M810.667 704v-597.333h-85.333v597.333h-128l170.667 213.333 170.667-213.333z"></path>
            <path fill="#2196f3" class="path2" d="M358.4 366.933h-113.067l-23.467 64h-74.667l121.6-324.267h61.867l121.6 324.267h-68.267l-25.6-64zM260.267 309.333h81.067l-40.533-121.6-40.533 121.6z"></path>
            <path fill="#2196f3" class="path3" d="M264.533 864h162.133v53.333h-247.467v-40.533l162.133-230.4h-162.133v-53.333h243.2v36.267l-157.867 234.667z"></path>
        </symbol>
        <symbol id="icon-template" viewBox="0 0 1024 1024">
            <title>template</title>
            <path fill="#bbdefb" d="M85.333 149.333h853.333v725.333h-853.333v-725.333z"></path>
            <path fill="#3f51b5" class="path2" d="M192 256h640v106.667h-640v-106.667z"></path>
            <path fill="#2196f3" class="path3" d="M192 448h277.333v341.333h-277.333v-341.333z"></path>
            <path fill="#2196f3" class="path4" d="M554.667 448h277.333v341.333h-277.333v-341.333z"></path>
        </symbol>
        <symbol id="icon-timeline" viewBox="0 0 1024 1024">
            <title>timeline</title>
            <path fill="#3f51b5" d="M896 618.667h-452.267c-10.667 0-21.333-4.267-29.867-12.8l-78.933-78.933c-8.533-8.533-8.533-21.333 0-29.867l78.933-78.933c8.533-8.533 19.2-12.8 29.867-12.8h452.267c12.8 0 21.333 8.533 21.333 21.333v170.667c0 12.8-8.533 21.333-21.333 21.333z"></path>
            <path fill="#cfd8dc" class="path2" d="M192 128h42.667v768h-42.667v-768z"></path>
            <path fill="#90a4ae" class="path3" d="M277.333 213.333c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
            <path fill="#90a4ae" class="path4" d="M277.333 512c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
            <path fill="#90a4ae" class="path5" d="M277.333 810.667c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
            <path fill="#448aff" class="path6" d="M725.333 917.333h-281.6c-10.667 0-21.333-4.267-29.867-12.8l-78.933-78.933c-8.533-8.533-8.533-21.333 0-29.867l78.933-78.933c8.533-8.533 19.2-12.8 29.867-12.8h281.6c12.8 0 21.333 8.533 21.333 21.333v170.667c0 12.8-8.533 21.333-21.333 21.333z"></path>
            <path fill="#00bcd4" class="path7" d="M746.667 320h-302.933c-10.667 0-21.333-4.267-29.867-12.8l-78.933-78.933c-8.533-8.533-8.533-21.333 0-29.867l78.933-78.933c8.533-8.533 19.2-12.8 29.867-12.8h302.933c12.8 0 21.333 8.533 21.333 21.333v170.667c0 12.8-8.533 21.333-21.333 21.333z"></path>
        </symbol>
        <symbol id="icon-sorting" viewBox="0 0 22 22">
            <path fill-rule="evenodd" d="M7.5 19c-.14 0-.28-.04-.38-.15L3.15 14.9c-.2-.2-.2-.52 0-.7.2-.2.5-.2.7 0L7 17.3V3h1v14.32l3.14-3.13c.2-.2.5-.2.7 0 .2.16.2.5 0 .7L7.9 18.83c-.1.1-.24.15-.38.14zm10.67-4H19v1h-4v-1h3.17zm.2-4H19v1h-8v-1h7.36zm0-4H19v1h-8V7h7.36zm0-4H19v1h-8V3h7.36z" />
        </symbol>
        <symbol id="icon-share" viewBox="0 0 22 22"><path fill-rule="evenodd" d="M4 10c0-1.1.9-2 2-2h9c1.1 0 2 .9 2 2v8c0 1.1-.9 2-2 2H6c-1.1 0-2-.9-2-2v-8zm1 0c0-.55.44-1 1-1h9c.55 0 1 .46 1 1v8c0 .55-.44 1-1 1H6c-.55 0-1-.46-1-1v-8zm3-2h5v1H8V8zm2.5-6c-.14 0-.28.04-.38.14L6.15 6.1c-.2.2-.2.5 0 .7.2.2.5.2.7 0L10 3.7v9.8c0 .27.2.5.5.5.27 0 .5-.23.5-.5V3.67l3.14 3.14c.2.2.5.2.7 0 .2-.2.2-.5 0-.7L10.9 2.16a.49.49 0 0 0-.38-.14z" /></symbol>
        <symbol id="icon-search" viewBox="0 0 22 22"><path d="M9.73 15.225c-3.145 0-5.694-2.505-5.694-5.6S6.586 4.02 9.73 4.02c3.145 0 5.695 2.51 5.695 5.605 0 3.095-2.55 5.6-5.695 5.6zm9.114 2.9l-4.13-4.065a6.524 6.524 0 0 0 1.746-4.435C16.46 5.965 13.447 3 9.73 3 6.013 3 3 5.965 3 9.625c0 3.655 3.013 6.62 6.73 6.62a6.76 6.76 0 0 0 4.236-1.48l4.146 4.08c.203.2.53.2.732 0a.503.503 0 0 0 0-.72z" fill-rule="evenodd" /></symbol>
        <symbol id="icon-bars" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M4.53 7H20V6H4v1h.53zm0 5H20v-1H4v1h.53zm0 5H20v-1H4v1h.53z" /></symbol>
        <symbol id="icon-floppy-disk" viewBox="0 0 32 32">
            <title>save</title>
            <path d="M18.268 17.143h5.643q-0.018-0.054-0.045-0.143t-0.045-0.143l-3.786-8.857h-12.643l-3.786 8.857q-0.018 0.036-0.045 0.143t-0.045 0.143h5.643l1.696 3.429h5.714zM27.429 17.679v8.607q0 0.464-0.339 0.804t-0.804 0.339h-25.143q-0.464 0-0.804-0.339t-0.339-0.804v-8.607q0-1.107 0.446-2.196l4.25-9.857q0.179-0.446 0.652-0.75t0.938-0.304h14.857q0.464 0 0.938 0.304t0.652 0.75l4.25 9.857q0.446 1.089 0.446 2.196z"></path>
        </symbol>
        <symbol id="icon-trash" viewBox="0 0 22 22"><g fill-rule="evenodd"><path opacity=".1" d="M5 5h12v2H5z" /><path d="M5.5 7C5.2 7 5 6.6 5 6s.2-1 .5-1h11c.3 0 .5.4.5 1s-.2 1-.5 1h-11zM15 19H7c-.6 0-1-.4-1-1V8h10v10c0 .6-.4 1-1 1zM9.5 3h3c.3 0 .5.2.5.5V4H9v-.5c0-.3.2-.5.5-.5zM14 4V3c0-.6-.4-1-1-1H9c-.6 0-1 .4-1 1v1H5c-.6 0-1 .4-1 1v2c0 .6.4 1 1 1v10c0 1 1 2 2 2h8c1 0 2-1 2-2V8c.6 0 1-.4 1-1V5c0-.6-.4-1-1-1h-3z" /></g></symbol>
        <symbol id="icon-alarm" viewBox="0 0 32 32">
            <title>alarm</title>
            <path d="M16.286 30.286q0-0.286-0.286-0.286-1.054 0-1.813-0.759t-0.759-1.813q0-0.286-0.286-0.286t-0.286 0.286q0 1.304 0.92 2.223t2.223 0.92q0.286 0 0.286-0.286zM4.393 25.143h23.214q-4.75-5.357-4.75-14.857 0-0.911-0.429-1.875t-1.232-1.839-2.17-1.438-3.027-0.563-3.027 0.563-2.17 1.438-1.232 1.839-0.429 1.875q0 9.5-4.75 14.857zM30.857 25.143q0 0.929-0.679 1.607t-1.607 0.679h-8q0 1.893-1.339 3.232t-3.232 1.339-3.232-1.339-1.339-3.232h-8q-0.929 0-1.607-0.679t-0.679-1.607q0.893-0.75 1.625-1.571t1.518-2.134 1.33-2.83 0.893-3.679 0.348-4.643q0-2.714 2.089-5.045t5.482-2.83q-0.143-0.339-0.143-0.696 0-0.714 0.5-1.214t1.214-0.5 1.214 0.5 0.5 1.214q0 0.357-0.143 0.696 3.393 0.5 5.482 2.83t2.089 5.045q0 2.482 0.348 4.643t0.893 3.679 1.33 2.83 1.518 2.134 1.625 1.571z"></path>
        </symbol>
        <symbol id="icon-map" viewBox="0 0 18 32">
            <title>map</title>
            <path d="M13.714 11.429q0-1.893-1.339-3.232t-3.232-1.339-3.232 1.339-1.339 3.232 1.339 3.232 3.232 1.339 3.232-1.339 1.339-3.232zM18.286 11.429q0 1.946-0.589 3.196l-6.5 13.821q-0.286 0.589-0.848 0.929t-1.205 0.339-1.205-0.339-0.83-0.929l-6.518-13.821q-0.589-1.25-0.589-3.196 0-3.786 2.679-6.464t6.464-2.679 6.464 2.679 2.679 6.464z"></path>
        </symbol>
    </defs>
</svg>