@{
    Layout = "_LayoutBase";
}
<div data-pjax>
    @(await Component.InvokeAsync("Navigation"))
    <div class="draw-overlay js-draw-overlay"></div>
    <div class="draw-container js-draw-container app-container" role="main" id="app">
        <div class="draw-menu-navbar">
            <button type="button" class="draw-menu-btn js-draw-menu-btn pull-left">
                <svg class="icon" style="width: 25px; height: 25px; margin: 0"><use xlink:href="#icon-bars"></use></svg>
            </button>
        </div>
        <div class="app-container-holder">
            @RenderBody()
        </div>
    </div>
</div>
@Html.Partial("_Icons")