@using Vault.Web.Models.Account
@model SignUpModel
@{
    ViewBag.Title = "Sign up | Vault.app";
}
<form class="form-register form-horizontal" role="form" method="post" asp-controller="Account" asp-action="SignUp">
    <div class="panel-body">
        <h2>Please sign-up</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-3 control-label">Name</label>
            <div class="col-md-9 form-control-wrapper">
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="col-md-3 control-label">Email</label>
            <div class="col-md-9 form-control-wrapper">
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="Password" class="col-md-3 control-label">Password</label>
            <div class="col-md-9 form-control-wrapper">
                <input asp-for="Password" type="password" class="form-control" min="6" />
                <span asp-validation-for="Password"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="form-control-wrapper">
                <p>Note: Your email will not be shown publicly. You can change your privacy settings at any time.</p>
                <button class="btn btn-lg btn-default" type="submit">Join us</button>
            </div>
        </div>
    </div>
</form>