@media (min-width: 992px) {
    .navbar {
        padding-left: 255px;
    }
}
body {
    background: #fff;
}
textarea {
    background-color: transparent;
}

/* Overrides */
@media(max-width: 768px) {
    .navbar-header {
        float: left;
        text-align: center;
        width: 100%;
        padding: 8px 0;
    }
    .navbar .navbar-brand {
        float: none;
        line-height: 35px;
    }
}

@media(min-width: 768px){
    .container{
        width: 768px;
    }
}

.navbar-header{
    background: #fff;
}
.navbar {
    margin-bottom: 0px;
    display: block;
    background: #fff;
}
.navbar .navbar-brand,
.navbar .navbar-brand:focus,
.navbar .navbar-brand:hover,
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a {
    color: #222;
}
.navbar .navbar-brand{
    font-family: "freight-sans-pro", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}
.form-control::-moz-placeholder {
    color: #222;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #333;
}
.form-control::-webkit-input-placeholder {
    color: #222;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #222;
}

.navbar-form{
    margin-left: 0px;
    margin-right: 0px;
}

.navbar .navbar-form .form-control-wrapper .form-control,
.navbar .navbar-form .form-control {
    border-color: #222;
    color: #222;
}
.navbar-toggle {
    margin-right: 0px;
    color: #222;
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-collapse {
    margin-right: 15px;
}
.navbar-toggle-search {
    padding-top: 6px;
    padding-bottom: 6px;
}

.container {
    margin-top: 70px;
    margin-bottom: 30px;
    padding: 0 10px;
}
@media (min-width: 992px) {
    .container {
        margin-top: 80px;
    }
}

.navbar .alert {
    margin-bottom: 0px;
}
.alert {
    padding-top: 10px;
    padding-bottom: 10px;
}
.alert-dismissible .close {
    color: #000;
}
.alert-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 50px;
    border-width: 0 0 1px;
}
.btn-primary {
    color: #fff !important;
}
.btn-primary:hover,
.btn-primary:focus {
    color: #000 !important;
}

/* /Overrides */
.navmenu,
.navbar-offcanvas {
    width: 80%;
}
.offcanvas.in .navbar-nav > li > a,
.offcanvas.in .navbar-nav > .active > a,
.offcanvas.in .navbar-nav > .active > a:hover,
.offcanvas.in .navbar-nav > .active > a:focus {
    color: #fff;
}
.offcanvas.in .navbar-form .form-control-wrapper .form-control,
.offcanvas.in .navbar-form .form-control {
    border-color: #fff;
    color: #fff;
}

.offcanvas-cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 100500;
}


.navmenu-inverse,
.navbar-inverse .navbar-offcanvas {
    opacity: 0.9;
}

.side-comment .marker:hover,
.side-comment.active .marker {
    background: #333;
}
.side-comment .marker:hover:after,
.side-comment.active .marker:after {
    border-color: #333 transparent;
}
.side-comment .action-link:focus,
.side-comment .action-link:hover {
    color: #333 !important;
}
.side-comment .add-comment {
    letter-spacing: 0;
}
.validationMessage {
    color: #f44336;
}
.media-heading a {
    text-decoration: none;
    color: #333;
}
