@media (min-width: 992px) {
  .navbar {
    padding-left: 255px;
  }
}


body{
    background: #eee;
}

.navbar{
    margin-bottom: 0px;
    display: block;
}
.navbar-toggle{
    margin-right: 0px;
}

.navbar-collapse{
    margin-right: 15px;
}

.navbar-inverse .navbar-toggle .glyphicon{
    color: #fff;
}

.navbar-toggle-search{
    padding-top: 6px;
    padding-bottom: 6px;
}

.navmenu, .navbar-offcanvas{
    width: 80%;
}

.container{
    margin-top: 70px;
    margin-bottom: 30px;
    padding: 0 10px;
}

@media (min-width: 992px) {
  .container {
    margin-top: 80px;
  }
}

.navbar .alert{
    margin-bottom: 0px;
}

.alert{
    padding-top: 10px;
    padding-bottom: 10px;
}

.alert-dismissible .close{
    color: #000;
}

.alert-fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    top: 50px;
    border-width: 0 0 1px;
}

.btn-primary{
    color: #fff !important;
}

.btn-primary:hover,
.btn-primary:focus{
    color: #000 !important;
}

.side-comment .marker:hover, .side-comment.active .marker{
    background: #3f51b5;
}

.side-comment .marker:hover:after, .side-comment.active .marker:after{
    border-color: #3f51b5 transparent;
}

.side-comment .action-link:focus,
.side-comment .action-link:hover{
    color: #3f51b5 !important;
}

.side-comment .add-comment{
    letter-spacing: 0;
}

.validationMessage{
    color: #f44336;
}

.media-heading a{
    text-decoration: none;
    color: #333;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


