* {
    color: #333;
    text-shadow: none ;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

body{
    color: #333;
}

a:hover, a:focus{
    color: #333;
}

pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

thead {
    display: table-header-group;
}

tr,
img {
    page-break-inside: avoid;
}

img {
    max-width: 100% ;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}

select {
    background: #fff ;
}

.navbar {
    display: none;
}

.table td,
.table th {
    background-color: #fff ;
}

.btn > .caret,
.dropup > .btn > .caret {
    border-top-color: #000 ;
}

.label {
    border: 1px solid #000;
}

.table {
    border-collapse: collapse !important;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd;
}

.validation-summary-errors li{
    color: #d9534f !important;
}

/* Custom default button */

.btn-default {
    color: #222;
    border-color: #222;
}

    .btn-default,
    .btn-default:hover,
    .btn-default:focus {
        text-shadow: none; /* Prevent inheritence from `body` */
        background-color: #fff;
    }

        .btn-default:hover,
        .btn-default:focus {
            color: #ccc;
        }

.btn.btn-ghost, .btn.btn-ghost:hover,
.btn.btn-ghost:focus {
    background-color: transparent;
    border-width: 3px;
    color: #333;
}

.has-error .help-block, .has-error .control-label,
.has-error .radio, .has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color: #d9534f;
}

.masthead-brand a, .masthead-brand a i{
    color: #46b8da ;
    font-weight: 500;
    line-height: 1.1;
    font-size: 2em;
}

.masthead-brand i{
    color: #46b8da;
}

.masthead-brand a:hover i{
    color: #269abc;
}

.masthead a:hover{
    text-decoration: none;
    color: #269abc;
}

.masthead-brand a span{
    font-size: 0.7em;
    vertical-align: top;
}

.masthead-nav > li > a {
    color: #333; /* IE8 proofing */
    border-bottom: 2px solid transparent;
}

    .masthead-nav > li > a:hover,
    .masthead-nav > li > a:focus {
        background-color: transparent;
        border-bottom-color: #ccc;
        color: #333;
    }

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    border-bottom-color: #269abc;
}

/* Sir Trevor */

.st-outer {
    text-align: left;
}

.st-block-controls,
.st-block-controls__top,
.st-block--with-plus:after {
    background-color: transparent;
}

    .st-block-controls__top:hover:before {
        background-color: transparent;
    }

a.st-block-control,
a.st-block-control .st-icon,
a.st-block-ui-btn,
.st-block__ui a {
    text-decoration: none;
    color: #333;
}

a.st-block-control:hover,
a.st-block-control:hover .st-icon,
a.st-block-ui-btn:hover,
.st-block__ui a:hover {
     color: #269abc;
}

.st-block__inner {
    border-color: transparent;
}

.st-block-positioner__select {
    color: #000;
}

[data-icon=add]:hover{
    cursor: pointer;
}
