/*! Pushy - v0.9.2 - 2014-9-13
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Menu Appearance */

.mp-menu {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: @mp-menu-background;
    font-size: 1.1em;
    font-weight: bold;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    /* enables momentum scrolling in iOS overflow elements */
    ul {
        margin: 0;
        padding: 0;
    }

    a {
        padding: 10px 44px;
        display: block;
        color: #b3b3b1;
        text-decoration: none;
        font-weight: 500;
    }

    a:hover,
    .active {
        background: @mp-menu-active-item;
        color: #FFF;
    }

    .mp-menu-header {
        margin: 0;
        border-bottom: 1px solid @mp-menu-active-item;
        font-size: 1.1em;

        &, a {
            color: #565d64;
        }

        a {
            padding-left: 18px;
        }

        .dropdown-title {
            width: 195px;
            float: left;
        }

        .dropdown-toggle {
            float: right;
            width: 40px;
            padding: 10px 12px;
        }

        .fa{
            margin-right: 5px;
        }
    }

    .open {
        .dropdown-menu {
            position: relative;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            box-shadow: none;

            & > li > a,
            .dropdown-header {
                padding: 5px 15px 5px 25px;
                color: #b3b3b1;
            }

            & > li > a {
                padding: 10px 44px;
                display: block;
                text-decoration: none;
            }

            & > li > a:hover {
                background-image: none;
                background: @mp-menu-active-item;
                color: #FFF;
            }
        }

        .dropdown-toggle{
            background: @mp-menu-active-item;
        }
    }

    .form-control{
        font-weight: 500;

        &:focus{
            border-color: transparent;
            box-shadow: none;
        }
    }

    @media screen and (max-width: @screen-sm-max) {
        a {
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .mp-menu-header {
            .dropdown-toggle {
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }

        .open {
            .dropdown-menu {
                & > li > a {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }

        & {
            box-shadow: -10px 0 6px -9px rgba(0, 0, 0, 0.7) inset;
        }
    }
}

.mp-menu,
.mp-menu-wrapper,
.mp-menu-content {
    width: @mp-menu-width;
    height: 100%;
}

.mp-menu-content{
    .badge{
        float: right;
    }
}

.mp-menu-wrapper {
    position: absolute;
    left: 0;
    width: @mp-menu-width + 20px;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

/* Menu Movement */

.mp-menu-left {
    transform: translate3d(-@mp-menu-width, 0, 0);
}

.mp-container-push-left {
    transform: translate3d(@mp-menu-width, 0, 0);
}

.mp-container-push-right {
    -moz-transform: translate(-@mp-menu-width, 0);
    -ms-transform: translate(-@mp-menu-width, 0);
    -o-transform: translate(-@mp-menu-width, 0);
    -webkit-transform: translate(-@mp-menu-width, 0);
    transform: translate(-@mp-menu-width, 0);
}

.mp-menu-open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.mp-menu-btn {
    position: relative;
    float: right;
    padding: 6px 15px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    &:focus {
        outline: 0;
    }

    .fa-plus-square-o {
        font-size: 31px;
    }

    .fa-bars {
        font-size: 28px;
    }

    .fa-search{
        font-size: 24px;
    }

    .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: @mp-menu-background;
    }

    .icon-bar + .icon-bar {
        margin-top: 4px;
    }
}

.mp-menu-user {
    padding: 20px 47px;
    text-align: center;

    img {
        width: 140px;
        height: 140px;
    }
}

@media (min-width: @screen-sm) {
    .mp-menu-btn {
        display: none;
    }
}
/* Menu Transitions */

.mp-menu,
.mp-container, {
    -moz-transition: -moz-transform .25s ease-out;
    -o-transition: -o-transform .25s ease-out;
    -webkit-transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
}
/* Site Overlay */

.mp-site-overlay {
    display: none;
}

.mp-menu-active .mp-site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-animation: fade 500ms;
    -moz-animation: fade 500ms;
    -o-animation: fade 500ms;
    animation: fade 500ms;
}

.mp-container > .page-container {
    margin-top: 50px;
}

@media (min-width: @screen-sm) {
    .mp-menu-media .mp-menu-left,
    .mp-menu-media .mp-container-push-left,
    .mp-menu-media .mp-container-push-right{
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .mp-menu-media .mp-site-overlay,
    .mp-menu-media .mp-menu-right,{
        display: none;
    }

    .mp-container  .page-container{
        margin-left: 265px;
        margin-right: 30px;
        margin-top: 0;
    }
}
@media (min-width: 1920px) {
    .mp-menu,
    .mp-menu-wrapper,
    .mp-menu-content {
        width: @mp-menu-width-large;
    }

    .mp-menu-wrapper {
        width: @mp-menu-width-large + 20px;
    }

    .mp-menu-left {
        transform: translate3d(-@mp-menu-width-large, 0, 0);
    }

    .mp-container-push-left {
        transform: translate3d(@mp-menu-width-large, 0, 0);
    }
    .mp-menu .mp-menu-header .dropdown-title{
        width: 255px;
    }

}

@media (max-width: @screen-sm-max){
    .mp-menu-active {
        overflow-y: hidden;
    }
}

.mp-navbar {
    display: block;
    position: fixed;
    z-index: 10050;
    background-color: @background-color;
    width: 100%;

    .search-form {
        position: absolute;
        width: 215px;
        top: 5px;
        right: -215px;
    }
}

.mp-menu-right {
    right: 0;
    padding: 5px;
    transform: translate3d(@mp-menu-width, 0px, 0px);
    transition: transform 0.25s ease-out 0s;
    box-shadow: 10px 0px 6px -9px rgba(0, 0, 0, 0.7) inset;
}

.mp-menu-right.mp-menu-open {
     transform: translate3d(0px, 0px, 0px);
}

.mp-navbar-scrolled {
    box-shadow: 0px 0.0625em 0.3125em rgba(0, 0, 0, 0.15);
    opacity: .9;
}

@media (min-width: @screen-sm) {
    .mp-navbar {
        display: none;
    }
}
